* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #d5d5d5
}

h1 {
    font-weight: normal;
    font-size: 4em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: .75em;
}

h2 {
    font-weight: normal;
    font-size: 2em;
    line-height: 1em;
    color: #535353;
    margin-top: 0;
    margin-bottom: .75em;
}

.bold {
    font-weight: bold;
}

.defaultContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px; 
    align-content: center;
    padding: 100px;
    padding-bottom: 0%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.galleryContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: inherit;
}

.imageColumn {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-content: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.clickableIcon {
    font-size: 2.5em;
    line-height: 1em;
    transition: .3s ease-out;
}

.clickableIcon:hover {
    color: white;
}

.galleryImage {
    position: relative;
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.galleryImageOverlay {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left,#ffffff1f 49.5%,#ffffffa2 50%);
    transition: .5s ease;
}

.galleryImage:hover .galleryImageOverlay {
    opacity: 1;
}

.overlayText {
    color: black;
    padding-left: 10%;
    padding-top: 5%;
    max-width: 50%;
    font-size: 1em;   
}

.boldText {
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
footer ul li a {
    display: flex;
    align-items: center;
    padding: 20px;
}
.copyright {
    color: #413c3c;
    margin: 0;
    align-self: center;
}